* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

header {
  background-image: url(books.jpg);
  height: 150px;
  width: 100%;
}

body {
  background: blanchedalmond;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
